{% include 'base.html' %}
{% block content %}

{% csrf_token %}
<div class="container">
    <div class="row ml-2">
        {% for post in posts %}
        <div class="col-sm-4 mb-2">
            <div class="card mt-2" >
                <img class="card-img-top" style=" height: 15rem;" src="{{ post.image }}" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg">
                            <p class="card-text">{{ post.title }}</p>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'dashboard:each_post' blog_id=post.pk %}"
                               class="btn btn-sm btn-outline-secondary" role="button">
                                <i class="fa fa-eye"></i> ಓದು
                            </a>
                            <a href="#" class="btn btn-sm btn-outline-secondary" role="button">
                                <i class="far fa-edit"></i> ತಿದ್ದು
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}